---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
  <main>
    <h1>Math, V1</h1>
    <ul>
      <li><a href="/interpolation">Interpolation</a></li>
      <li><a href="/vectors">Vectors</a></li>
    </ul>
  </main>
</Layout>

<style>
  body {
    color: hsla(160, 100%, 37%, 1);
  }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  li {
    list-style-type: none;
    list-style-position: unset;
    margin: 0;
  }
  a {
    color: hsl(180, 10%, 87%);
  }
  a:hover {
    color: hsl(180, 70%, 87%);
  }
</style>